name: .NET Core

on:
  push:
    branches:
      - master
      - 'releases/**'
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Update Version
      uses: jacobtomlinson/gha-find-replace@master
      with:
        find: "[0-9]+\\</Version\\>"
        replace: ${{ github.run_number }}</Version>
    - name: Update Assembly Version
      uses: jacobtomlinson/gha-find-replace@master
      with:
        find: "[0-9]+\\.[0-9]+\\</AssemblyVersion\\>"
        replace: ${{ github.run_number }}.0</AssemblyVersion>
    - name: Update File Version
      uses: jacobtomlinson/gha-find-replace@master
      with:
        find: "[0-9]+\\.[0-9]+\\</FileVersion\\>"
        replace: ${{ github.run_number }}.0</FileVersion>
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
      working-directory: ./src
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: ./src
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: ./src
    - name: Publish nuget package
      if: startsWith('refs/heads/releases/', ${{ github.head_ref }})
      run: dotnet nuget push *.nupkg -k $nuget_api_key -s "https://api.nuget.org/v3/index.json" --skip-duplicate
      env:
        nuget_api_key: ${{ secrets.NUGET_API_KEY }}
      working-directory: ./src/WebOsTv.Net/bin/release/
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: source
        path: src